<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dnrcpw.cpwmobilepdf">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- add usesCleartextTraffic to prevent error when downloading over http like fstopo uses     android:usesCleartextTraffic="true" -->

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- TODO move location service from MainActivity to LocationService new class -->
        <!-- Recommended for Android 9 (API level 28) and lower. -->
        <!-- Required for Android 10 (API level 29) and higher. -->
        <!--service
            android:name="com.tammy.cpwmobilepdf.activities.LocationService"
            android:foregroundServiceType="location">
        </service-->

        <activity
            android:name="com.dnrcpw.cpwmobilepdf.activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dnrcpw.cpwmobilepdf.activities.HelpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/help"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name="com.dnrcpw.cpwmobilepdf.activities.GetMoreHelpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/help"
            android:parentActivityName=".activities.GetMoreActivity" />
        <activity
            android:name="com.dnrcpw.cpwmobilepdf.activities.PDFHelpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/help"
            android:parentActivityName=".activities.PDFActivity" />
        <!-- force map to always be in portrait mode -->
        <activity
            android:name="com.dnrcpw.cpwmobilepdf.activities.PDFActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.dnrcpw.cpwmobilepdf.activities.MainActivity"> <!-- This adds a back button -->
        </activity>
        <activity
            android:name="com.dnrcpw.cpwmobilepdf.activities.GetMoreActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_get_more"
            android:parentActivityName="com.dnrcpw.cpwmobilepdf.activities.MainActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dnrcpw.cpwmobilepdf.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.dnrcpw.cpwmobilepdf.activities.EditMapNameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label= "@string/title_activity_edit_map_name"
            android:theme="@style/FullscreenTheme"
            android:parentActivityName="com.dnrcpw.cpwmobilepdf.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dnrcpw.cpwmobilepdf.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.dnrcpw.cpwmobilepdf.activities.EditWayPointActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label= "@string/title_activity_edit_way_pt"
            android:theme="@style/FullscreenTheme"
            android:parentActivityName="com.dnrcpw.cpwmobilepdf.activities.PDFActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dnrcpw.cpwmobilepdf.activities.PDFActivity" />
        </activity>
    </application>

</manifest>