<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tammy.pocketmaps">

    <!--uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /-->

    <!-- add usesCleartextTraffic to prevent error when downloading over http like fstopo uses     android:usesCleartextTraffic="true" -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.tammy.pocketmaps.Activities.StartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_start"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/pdf"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*"/>
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:pathPattern=".*\\.pdf" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.tammy.pocketmaps.Activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!-- force map to always be in portrait mode -->
        <activity
            android:name="com.example.tammy.pocketmaps.Activities.PDFActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.example.tammy.pocketmaps.Activities.MainActivity"> <!-- This adds a back button -->
        </activity>
        <activity
            android:name="com.example.tammy.pocketmaps.Activities.GetMoreActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_get_more"
            android:parentActivityName="com.example.tammy.pocketmaps.Activities.MainActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tammy.pocketmaps.Activities.MainActivity" />
        </activity>
        <activity
            android:name="com.example.tammy.pocketmaps.Activities.EditMapNameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label= "@string/title_activity_edit_map_name"
            android:theme="@style/FullscreenTheme"
            android:parentActivityName="com.example.tammy.pocketmaps.Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tammy.pocketmaps.Activities.MainActivity" />
        </activity>
        <activity
            android:name="com.example.tammy.pocketmaps.Activities.EditWayPointActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label= "@string/title_activity_edit_way_pt"
            android:theme="@style/FullscreenTheme"
            android:parentActivityName="com.example.tammy.pocketmaps.Activities.PDFActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tammy.pocketmaps.Activities.PDFActivity" />
        </activity>
    </application>

</manifest>